<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Roose
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Em que eu posso ajudar?</strong>
    <p>Tente "Previsão do Tempo"</p>
    <ion-button color="secondary" fill="solid"><ion-icon name="mic-outline"></ion-icon></ion-button>
  </div>
</ion-content>
