<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    
    <ion-slide>
      <div class="slide">
        <img src="/assets/img/Roose.jpg"/>
        <h2>Bem Vindo</h2>
        <p>Eu sou a <b>Roose</b> sua assistente virtual pessoal.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/voice.jpg"/>
      <h1>Em que eu posso te ajuar?</h1>
      <p>Gostaria de saber a previsão do tempo, por exemplo? É só apertar o botão de voz e dizer: Tempo</p>

    </ion-slide>

    <ion-slide>
      <img src="assets\img\checkmark-smartphone-screen_102902-415.jpg"/>
      <h2>Pronto pra começar?</h2>
      <ion-button href="/home" color="secondary" fill="solid">Continuar<ion-icon name="rocket-outline"></ion-icon></ion-button>
    </ion-slide>


  </ion-slides>
</ion-content>